@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --main-dark-color: #150C01;
  --main-default-size: 16px;
  --primary-color: #dc780b;

  --border-color: rgba(220, 120, 11, .1);
  --border-button-color: rgba(220, 120, 11, .1);
  --border-dark-color: rgba(21, 12, 1, .1);
  
  --header-color: #150C01;
  --letter-base: 3.5px;
  --letter-md: 2px;
  
  --bg-features-one: rgba(143,166,50,.1);
  --bg-features-two: rgba(230,77,46,.08);
  --bg-features-three: rgba(220,120,11,.1);

  --about-color: rgb(220, 120, 11, .7);
  --menu-color: rgb(220, 120, 11, .7);

  --application: #FBF1E7;
  --app-store-bg: #150C01;

  --contact: rgb(220, 120, 11, .1);
  --footer: #252525;

}

html,
body {
  background-color: var(--background);
  color: var(--main-dark-color);
  font-size: var(--main-default-size);
  font-weight: 400;
  scroll-behavior: smooth;
}